*,
body,
h1,
h2,
h3,
h4,
h5,
p,
span {
    font-family: Fredoka One;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
}